body{color:#425a66;line-height:1.6}
p{margin-bottom:20px;}
.rz-header{border-bottom:1px solid #eee;padding:10px;margin-bottom:40px}
.rz-logo img{max-width:100px}
.alert-info{background:#f0f3f9;border:1px solid #90b2f5;border-radius:3px}
h1,h2,h3,h4,h5{color:#304753}
.page-header{margin:30px 0;padding:0 0 20px}
pre{border:0;background:#e6eaed;border-radius:3px}